body {
	background: #2980b9;
	color: black;
	height: 100%;
	background: black;
}

html {
	height: 100%;
}

h1 {
	font-size: 36px;
	color: black;
}

h3 {
	font-size: 24px;
}

#map {
	margin-left: 0%;
	padding-left: 0%;
	height: 84.3vh;
	height: 0;
    overflow: hidden;
    position: relative;
}

#map_container{
  position: relative;
}

.site-header {
	background: black;
	color: white;
	padding: 24px 24px 24px 12px;
	margin-bottom: 2em;
	text-align: center; 
	margin: 0%;
}

.main-nav {
	list-style: none;
	padding: 0;
	padding-bottom: 2em;
}

.main-nav-item {
	white-space: nowrap;
	color: lightgrey;
	padding-top: 5px;
	text-overflow: ellipsis;
	display: block;
	font-size: 1.2em;
	line-height: 2em;
	white-space: normal;
	overflow: hidden;
	width: 100%;
	background: black;
	padding-bottom: 2.5px;
}

.main-nav-item:hover {
	background: #2f97dc;
	cursor: pointer;
	background: white;
	color: black;
}

#list {
	width: 20%;
	overflow: auto;
}


@media screen and (max-width: 760px) {
	#list {
		width: 35%;
	}


}